<header class="sg-header">
  <div class="sg-container position--relative">
    <div class="sg-logo">Web Styleguide</div>
    <nav class="sg-main-nav m-bottom-xx-large">
      <a class="sg-main-nav__item">Story</a>
      <a class="sg-main-nav__item">Style</a>
      <a class="sg-main-nav__item is-active">UI Components</a>
      <a class="sg-main-nav__item">Resources</a>
    </nav>
    <div class="sg-search-button">
      <div class="icon">
        <svg class="icon__svg">
          <use xlink:href="../../../assets/icons/ui/svg-defs.svg#sg-search"></use>
        </svg>
      </div>
    </div>
  </div>
</header>
