<div data-sticky>
  <nav class="sg-main-nav m-bottom-xx-large" data-sticky-target>
    <div class="sg-container">
      <div class="sg-main-nav__wrapper">
        <a class="sg-main-nav__item" href="{{ site.baseurl }}/story/">Story</a>
        <a class="sg-main-nav__item" href="{{ site.baseurl }}/style/">Style</a>
        <a class="sg-main-nav__item is-active" href="{{ site.baseurl }}/ui-components/button">UI Components</a>
        <a class="sg-main-nav__item" href="{{ site.baseurl }}/resources">Resources</a>
        <div class="sg-search-button">
          <div class="icon">
            <svg class="icon__svg">
              <use xlink:href="{{ site.baseurl }}/assets/icons/ui/svg-defs.svg#sg-search"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>