.sg-main-content {
	padding: 50px;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 3px 10px 0 #CFD4DB;
}

.sg-main-content__title {
	margin-bottom: $spacing-small;
	font-size: 22px;
	font-weight: 500;
}