<div class="form-element">
  <div class="form-element__control">
    <div class="input input--group">
      <span class="input--group__addon input--group__addon--left">IDR</span>
      <span class="input--group__control">
        <input class="form-control" type="text">
      </span>
    </div>
  </div>
  <div class="form-element__help"></div>
</div>

<div class="form-element">
  <div class="form-element__control">
    <div class="input input--group">
      <span class="input--group__addon input--group__addon--right">rooms</span>
      <span class="input--group__control">
        <input class="form-control" type="text">
      </span>
    </div>
  </div>
  <div class="form-element__help"></div>
</div>

<div class="form-element">
  <div class="form-element__control">
    <div class="input input--group">
      <span class="input--group__addon input--group__addon--left">IDR</span>
      <span class="input--group__addon input--group__addon--right">per room</span>
      <span class="input--group__control">
        <input class="form-control" type="text">
      </span>
    </div>
  </div>
  <div class="form-element__help"></div>
</div>