<article class="sg-component-block">
  <div class="sg-component-block__text">
    <h5 class="sg-component-block__title">{{ include.title }}</h5>
  </div>
  <div class="sg-component-block__showcase">
    <div class="sg-component-block__container">
      <div class="sg-component-block__display">
        {% include {{ include.path }} %}
      </div>
    </div>
    <div class="sg-component-block__code sg-prism-code">
      <pre><code class="language-markup"><script type="prism-html-markup">
{% include {{ include.path }} %}
      </script></code></pre>
    </div>
  </div>
</article>
