<div class="radio">
  <label class="radio-item">
    <input type="radio" name="Radio4292jfio083" value="0">
    <span class="radio-item__icon"></span>
    <div class="radio-item__label">
      <h6 class="radio-item__label-heading">Amount Discount Per Night</h6>
      <p class="sub-text">Give a flat discount amount for each night’s stay, following condition of discount below</p>
    </div>
  </label>
  <label class="radio-item">
    <input type="radio" name="Radio4292jfio083" value="1">
    <span class="radio-item__icon"></span>
    <div class="radio-item__label">
      <h6 class="radio-item__label-heading">Amount Discount Per Day</h6>
      <p class="sub-text">Give a flat discount amount for each night’s stay, following condition of discount below</p>
    </div>
  </label>
</div>