---
layout: ui-components
title: "Button"
mainnav: ui-components
sidenav: button
permalink: "/ui-components/button/"
---

<div class="">
  <h3 class="sg-main-content__title">Button</h3>
  <p class="text--secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima in, perspiciatis sed obcaecati deserunt voluptates dolor, quaerat dicta, laboriosam iure corporis cupiditate blanditiis itaque nobis amet rem, fuga suscipit! Saepe?</p>
</div>
{% include components/component-block.html
  title="Button Normal"
  path="components/button/button-normal.html"
%}
{% include components/component-block.html
  title="Button Theme Modifier"
  path="components/button/button-theme.html"
%}
{% include components/component-block.html
  title="Button Size Modifier"
  path="components/button/button-size.html"
%}
{% include components/component-block.html
  title="Button Full Width"
  path="components/button/button-full-width.html"
%}
{% include components/component-block.html
  title="Button Other Modifier"
  path="components/button/button-other.html"
%}
{% include components/component-block.html
  title="Button with Icon"
  path="components/button/button-icon.html"
%}