---
layout: ui-components
title: "Modal"
sidenav: modal
permalink: "/ui-components/modal/"
---

<div class="">
  <h3 class="sg-main-content__title">Modal</h3>
  <p class="text--secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima in, perspiciatis sed obcaecati deserunt voluptates dolor, quaerat dicta, laboriosam iure corporis cupiditate blanditiis itaque nobis amet rem, fuga suscipit! Saepe?</p>
</div>

{% include components/component-block.html
  title="Modal"
  path="components/modal/modal.html"
%}
{% include components/component-js-block.html
  path="components/modal/modal.js"
%}