---
layout: ui-components
title: "Selection Control"
sidenav: selection-control
permalink: "/ui-components/selection-control/"
---

<div class="">
  <h3 class="sg-main-content__title">Selection Control</h3>
  <p class="text--secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima in, perspiciatis sed obcaecati deserunt voluptates dolor, quaerat dicta, laboriosam iure corporis cupiditate blanditiis itaque nobis amet rem, fuga suscipit! Saepe?</p>
</div>

{% include components/component-block.html
  title="Radio Default"
  path="components/selection-control/radio-normal.html"
%}

{% include components/component-block.html
  title="Radio Disabled"
  path="components/selection-control/radio-disabled.html"
%}

{% include components/component-block.html
  title="Radio with description"
  path="components/selection-control/radio-with-description.html"
%}

{% include components/component-block.html
  title="Radio Inline"
  path="components/selection-control/radio-inline.html"
%}