---
layout: ui-components
title: "Sticky Message"
sidenav: sticky-message
permalink: "/ui-components/sticky-message/"
---

<div class="">
  <h3 class="sg-main-content__title">Sticky Message</h3>
  <p class="text--secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima in, perspiciatis sed obcaecati deserunt voluptates dolor, quaerat dicta, laboriosam iure corporis cupiditate blanditiis itaque nobis amet rem, fuga suscipit! Saepe?</p>
</div>

{% include components/component-block.html
  title="Sticky Message Normal"
  path="components/sticky-message/sticky-message-normal.html"
%}
{% include components/component-js-block.html
  path="components/sticky-message/sticky-message-normal.js"
%}

{% include components/component-block.html
  title="Sticky Message Success"
  path="components/sticky-message/sticky-message-success.html"
%}
{% include components/component-js-block.html
  path="components/sticky-message/sticky-message-success.js"
%}

{% include components/component-block.html
  title="Sticky Message Error"
  path="components/sticky-message/sticky-message-error.html"
%}
{% include components/component-js-block.html
  path="components/sticky-message/sticky-message-error.js"
%}