---
layout: default
---
<div class="sg-container">
  <div class="sg-grid-container">
    <aside class="sg-aside">
      <nav class="sg-aside-nav m-bottom--xx-large">
        <header class="sg-aside-nav__header">Typography</header>
        <a class="sg-aside-nav__item" href="{{ site.baseurl }}/style/soon/">Typeface</a>
        <a class="sg-aside-nav__item" href="{{ site.baseurl }}/style/soon/">Hierarchy and Colors</a>
      </nav>
      <nav class="sg-aside-nav m-bottom--xx-large">
        <header class="sg-aside-nav__header">Colors</header>
        <a class="sg-aside-nav__item" href="{{ site.baseurl }}/style/colors/">Colors</a>
      </nav>
      <nav class="sg-aside-nav m-bottom--xx-large">
        <header class="sg-aside-nav__header">Layouts & Patterns</header>
        <a class="sg-aside-nav__item" href="{{ site.baseurl }}/style/soon/">Basic Layout</a>
        <a class="sg-aside-nav__item" href="{{ site.baseurl }}/style/soon/">Form Layout</a>
      </nav>
      <nav class="sg-aside-nav m-bottom--xx-large">
        <header class="sg-aside-nav__header">Others</header>
        <a class="sg-aside-nav__item" href="{{ site.baseurl }}/style/soon/">Iconography</a>
        <a class="sg-aside-nav__item" href="{{ site.baseurl }}/style/soon/">Copywritins</a>
        <a class="sg-aside-nav__item" href="{{ site.baseurl }}/style/soon/">Animation</a>
      </nav>
    </aside>
    <main class="sg-main">
      <div class="sg-main-content">
        {{ content }}
      </div>
    </main>
  </div>
</div>
