---
layout: default
---
<div class="sg-container">
  <div class="sg-grid-container">
    <aside class="sg-aside">
      <nav class="sg-aside-nav m-bottom--xx-large">
        <header class="sg-aside-nav__header">Buttons</header>
        <a class="sg-aside-nav__item" href="{{ site.baseurl }}/ui-components/button/">Button</a>
        <a class="sg-aside-nav__item" href="{{ site.baseurl }}/ui-components/button-group/">Button Group</a>
      </nav>
      <nav class="sg-aside-nav m-bottom--xx-large">
        <header class="sg-aside-nav__header">Forms</header>
        <a class="sg-aside-nav__item" href="{{ site.baseurl }}/ui-components/text-input/">Text Input</a>
        <a class="sg-aside-nav__item" href="{{ site.baseurl }}/ui-components/selection-control/">Selection Control</a>
        <a class="sg-aside-nav__item" href="{{ site.baseurl }}/ui-components/picker/">Pickers</a>
        <a class="sg-aside-nav__item" href="{{ site.baseurl }}/ui-components/autocomplete/">Autocomplete</a>
      </nav>
      <nav class="sg-aside-nav m-bottom--xx-large">
        <header class="sg-aside-nav__header">Navigation</header>
        <a class="sg-aside-nav__item" href="{{ site.baseurl }}/ui-components/tab/">Tab</a>
        <a class="sg-aside-nav__item" href="{{ site.baseurl }}/ui-components/pagination/">Pagination</a>
      </nav>
      <nav class="sg-aside-nav m-bottom--xx-large">
        <header class="sg-aside-nav__header">Displaying Data</header>
        <a class="sg-aside-nav__item" href="{{ site.baseurl }}/ui-components/cards/">Cards</a>
        <a class="sg-aside-nav__item" href="{{ site.baseurl }}/ui-components/table/">Table</a>
        <a class="sg-aside-nav__item" href="{{ site.baseurl }}/ui-components/chart/">Chart</a>
        <a class="sg-aside-nav__item" href="{{ site.baseurl }}/ui-components/loading/">Loading Components</a>
      </nav>
      <nav class="sg-aside-nav m-bottom--xx-large">
        <header class="sg-aside-nav__header">Messages</header>
        <a class="sg-aside-nav__item" href="{{ site.baseurl }}/ui-components/badges/">Badges</a>
        <a class="sg-aside-nav__item" href="{{ site.baseurl }}/ui-components/tooltip/">Tooltip</a>
        <a class="sg-aside-nav__item" href="{{ site.baseurl }}/ui-components/sticky-message/">Sticky Message</a>
        <a class="sg-aside-nav__item" href="{{ site.baseurl }}/ui-components/modal/">Modal</a>
      </nav>
    </aside>
    <main class="sg-main">
      <div class="sg-main-content">
        {{ content }}
      </div>
    </main>
  </div>
</div>
