---
layout: default
---
<div class="sg-container">
  <div class="sg-grid-container">
    <aside class="sg-aside">
      <nav class="sg-aside-nav m-bottom--xx-large">
        <header class="sg-aside-nav__header">Buttons</header>
        <a class="sg-aside-nav__item" href="button.html">Button</a>
        <a class="sg-aside-nav__item" href="button-group.html">Button Group</a>
      </nav>
      <nav class="sg-aside-nav m-bottom--xx-large">
        <header class="sg-aside-nav__header">Forms</header>
        <a class="sg-aside-nav__item is-active" href="text-input.html">Text Input</a>
        <a class="sg-aside-nav__item" href="selection-control.html">Selection Control</a>
        <a class="sg-aside-nav__item" href="pickers.html">Pickers</a>
        <a class="sg-aside-nav__item" href="autocomplete.html">Autocomplete</a>
      </nav>
      <nav class="sg-aside-nav m-bottom--xx-large">
        <header class="sg-aside-nav__header">Navigation</header>
        <a class="sg-aside-nav__item" href="tab.html">Tab</a>
        <a class="sg-aside-nav__item" href="pagination.html">Pagination</a>
      </nav>
      <nav class="sg-aside-nav m-bottom--xx-large">
        <header class="sg-aside-nav__header">Displaying Data</header>
        <a class="sg-aside-nav__item" href="cards.html">Cards</a>
        <a class="sg-aside-nav__item" href="table.html">Table</a>
        <a class="sg-aside-nav__item" href="chart.html">Chart</a>
        <a class="sg-aside-nav__item" href="loading.html">Loading Components</a>
      </nav>
      <nav class="sg-aside-nav m-bottom--xx-large">
        <header class="sg-aside-nav__header">Messages</header>
        <a class="sg-aside-nav__item" href="badges.html">Badges</a>
        <a class="sg-aside-nav__item" href="tooltip.html">Tooltip</a>
        <a class="sg-aside-nav__item" href="sticky.html">Sticky Message</a>
        <a class="sg-aside-nav__item" href="modal.html">Modal</a>
      </nav>
    </aside>
    <main class="sg-main">
      <div class="sg-main-content">
        {{ content }}
      </div>
    </main>
  </div>
</div>
