<button class="btn btn--primary btn--icon">
  <svg class="btn--icon__svg">
    <use xlink:href="{{ site.baseurl }}/assets/icons/ui/svg-defs.svg#calendar"></use>
  </svg>
</button>

<button class="btn btn--error btn--icon btn--icon-left">
  <svg class="btn--icon__svg">
    <use xlink:href="{{ site.baseurl }}/assets/icons/ui/svg-defs.svg#chevron-double-left"></use>
  </svg>
  <span>Back</span>
</button>

<button class="btn btn--cta btn--icon btn--icon-right">
  <span>Add New Promo</span>
  <svg class="btn--icon__svg">
    <use xlink:href="{{ site.baseurl }}/assets/icons/ui/svg-defs.svg#add"></use>
  </svg>
</button>